@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Oleo+Script+Swash+Caps&display=swap');


#logo{
  font-family:'Oleo Script';
  border: 10px double rgb(0, 0, 0);
  color: black;
  padding: 0px 1.5vh 0px 1.5vh;
  margin: 0 5vh;
  background-color:rgba(228, 137, 19, 0.747);
}


.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: white ;
  color: #220811;
}


.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #220811;
}

#home-page {
  height: 90vh;
  background: url('images/home1.jpg');
  background-position-y:-250px;
  background-position-x: center;
  margin:0;
  padding: 0;
  align-content: center;
}

#reservation{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  color:#220821;
  background:url('images/menu1.jpg');
}
#form{
  text-align: left;

  display:flex;
  width: 500px;
}

#data{
  display: flex;
  flex-direction: column;
  justify-content:center;
  width: 500px;
  margin:10px; 
align-items: center;
}

.form-group{
  padding: 10px;
}


@media only screen and (max-width: 768px) {
  .nav-links{
    display: none;
  }
  #home-page {
    height: 50vh;
    width:100vh;
    background: url('images/home1.jpg');
    background-position-y:-250px;
    background-position-x: center;
    margin:0;
    padding: 0;
    align-content: center;
  }
}
